<mat-grid-list cols="1" *ngIf="!hero; else divHero">
    <mat-grid-tile>
        <mat-spinner></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>
<ng-template #divHero>
    <div fxLayout="row"
         fxLayout.xs="column"
         fxLayoutGap="30px">
    <div fxFlex="50">
        <h1>{{hero.superhero}}<small>-{{hero.alter_ego}}</small></h1>
        <mat-divider></mat-divider>
        <br>
        <img [src]="hero | imgfavs" class="img-size">
    </div>
    <div fxFlex="50">
        <h1>{{hero.publisher}}</h1>
        <mat-divider></mat-divider>
        <mat-list>
            <mat-list-item>{{hero.first_appearance}}</mat-list-item>
            <mat-list-item>{{hero.characters}}</mat-list-item>
            <mat-list-item>{{hero.publisher}}</mat-list-item>
            <mat-list-item>{{hero.alter_ego}}</mat-list-item>
        </mat-list>
        <br>
        <div fxLayout>
            <button mat-raised-button color="accent"
                (click)="goBack()">
            <mat-icon>arrow_back_ios</mat-icon> Back
        </button>
        <span class="spaceflex"></span>
        <button mat-raised-button
                color="primary"
                (click)="goEdit()">
                <mat-icon>edit</mat-icon>
                Editar
        </button>
        </div>
    </div>
    </div>
</ng-template>