<mat-card>
    <mat-card-header>
        <mat-card-title>{{hero.superhero}}</mat-card-title>
        <mat-card-subtitle>{{hero.alter_ego}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="hero | imgfavs">
    <!-- <img mat-card-image src="assets/heroes/{{hero.id}}.jpg"> -->
    <mat-card-content>
        <h3>{{hero.publisher}}</h3>
        <p>
            <strong>First appearance: </strong>{{hero.first_appearance}}
            <br>
            <strong>Characters: </strong>{{hero.characters}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button 
        [routerLink]="['/heroes', hero.id]"
        mat-button 
        color="warn">
        <mat-icon mat-list-icon>
            info
        </mat-icon>
        </button>
        <button 
        [routerLink]="['/heroes/edit', hero.id]"
        mat-button 
        color="accent">
        <mat-icon mat-list-icon>
            manage_accounts
        </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>